.home-tool-bar {
    min-height: 55px !important;
}

.home-account-item {
    margin: 0 15px !important;
}

.home-grid-list-container {
    margin: 15px;
}

.home-grid-item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.home-grid-item:hover,.home-grid-item.selected {
    background-color: rgba(0, 0, 0, 0.2)
}

.home-grid-item .folder {
    color: #72cef7;
    width: 100% !important;
    height: 100% !important;
}

.home-grid-item .file {
    color: #9E9E9E;
    width: 100% !important;
    height: 100% !important;
}
.home-grid-item .select-action-color
{
    color: #f3f3f3;
}
.home-grid-item .path-select
{
    position: absolute;
    right: 5px;
    top:5px;
}
.home-path-breadcrumbs
{
    margin: 0 15px;
}
.home-breadcrumb-container {
    display: inline-block;
    color: #72cef7;
}

.home-breadcrumb {
    font-size: 0.65rem !important;
    color: #72cef7 !important;
    padding: 8px 8px !important;
    min-width: 58px !important;
}
.home-breadcrumb.nav
{
    font-size: 1rem !important;
    min-width: 15px !important;
    color: rgba(0, 0, 0, 0.56) !important;
}
.home-breadcrumb:disabled
{
    color: rgba(0, 0, 0, 0.26) !important;
}